/*FONTS:
font-family: 'Pinyon Script', cursive;
font-family: 'Monsieur La Doulaise', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Lora', serif;*/


.img-control {
  max-height: 300px;
}

html {
  height: 100%;
}

body {
  margin-bottom: 100px;
  height: 100%;
  background-color: white;

}

.fitWidth {
  width: 100%;
}

.small-width {
  width: 50%;
}

.border-top {
  border-top: 2px solid #ddd;
  padding: 10px 0;
  margin-top: 10px;
}

/*.img-control {
  max-height: 300px;
}

.img-control-2 {
  max-height: 250px;
}*/

.pointer {
  cursor: pointer;
}

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}
.container {
  margin: 0 auto !important;
  padding: 0 !important;
  width: 90%;
}

.container-main {
  background-color: white;
}
.art {
  background-color: #000000;
  padding: 5% !important;
}

.indivArt {
  padding: 3% !important;
}
.nav {
  margin: 0 !important;
}

.navbar-brand {
  margin-left: 10% !important;
  font-size: 30px !important;
}
.navbar-default {
  padding: .75%;
}

.mainTitle {
  padding-top: 3%;
  background-color: #FFFFFF;
}

.catSelect {
  font-family: 'Lora', serif;
  font-variant: small-caps;
  float: right;
  margin-right: 10%;
  margin-left: 1%;
}

.fancy {
  font-family: 'Monsieur La Doulaise', cursive;
  text-shadow: 0em 0em 0.3em #FFF !important;
  padding: 0px !important;
  background-color: #FFFFFF !important;
  margin: 0;
}

.big.fancy {
  font-size: 50px;
}

.mainTitle > .big.fancy:hover {
  text-shadow: 0.1em 0.1em 0.2em #423 !important;
}


.slogan {
  font-size: 40px;
}


th {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-family: 'Lora', serif;
  font-variant: small-caps;
}

hr {
  width: 66%;
}

a {
  font-family: 'Lora', serif;
  font-size: 16px;
  font-variant: small-caps;
  color: #CCA633;
}

.mainTitle > h1 {
  display: inline;
}

.mainTitle > h1:hover, a:hover {
  color: #000 !important;
  text-decoration: none;
  text-shadow: 0.1em 0.1em 0.2em #423;
}

.sendToBack {
  z-index: -1;
}

.listOfArtistNames {

}

.orderSpace {
  margin: 3%;
  padding: 5%;
}

button {
  font-family: 'Lora', serif;
  font-variant: small-caps;
  font-size: 1em !important;
  color: #FFFFFF !important;
  background-color: #000000 !important;
  border: 1px solid #ffffff !important;
}

button:focus {
  text-shadow: 0.1em 0.1em 0.2em #423 !important;
  background-color: #442233;
  outline: 0 !important;
}

button:active {
  outline: 0 !important;
  border: 5px inset #CCA633 !important;
  padding: 0;

}

.navbar-default {
  margin: 0 !important;
}
